<header class="header">
  <div class="main_width">
    <div class="header_inner">
      <h1 class="header_logo"></h1>

      <nav class="header_nav">
        <ul class="header_nav_list">
          <li class="header_nav_item">
            <a href="#" class="header_nav_item_link">
              <span class="header_nav_item_link_text">ABOUT</span>
            </a>
          </li>
          <li class="header_nav_item">
            <a href="#" class="header_nav_item_link">
              <span class="header_nav_item_link_text">WORK</span>
            </a>
          </li>
          <li class="header_nav_item">
            <a href="#" class="header_nav_item_link">
              <span class="header_nav_item_link_text">BLOG</span>
            </a>
          </li>
          <li class="header_nav_item">
            <a href="#" class="header_nav_item_link">
              <span class="header_nav_item_link_text">CONTACT</span>
            </a>
          </li>
        </ul>
      </nav>
    </div><!-- /.header_inner -->
  </div><!-- /.main_width -->
</header>